In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\raulm\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
news_title = []
news_p = []

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news = soup.find('section', class_='image_and_description_container')
titles = news.find_all('div', class_='content_title')
descriptions = news.find_all('div', class_='article_teaser_body')

for title in titles:
    main_title = title.text
    news_title.append(main_title)
    
for description in descriptions:
    main_description = description.text
    news_p.append(main_description)

In [5]:
n = len(news_p)
c = 0

while c < n:
    print(news_title[c])
    print(news_p[c])
    print('--------------')
    c = c + 1

7 Things to Know About the Mars 2020 Perseverance Rover Mission
NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission.
--------------
Celebrate Mars Reconnaissance Orbiter's Views From Above
Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.
--------------
NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet
The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021.
--------------
What's Mars Solar Conjunction, and Why Does It Matter?
NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.
--------------
Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
--------------
NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb
Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.
--------------
Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate
A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.
--------------
NASA's Mars Helicopter Attached to Mars 2020 Rover
The helicopter will be first aircraft to perform flight tests on another planet.
--------------
NASA's Perseverance Mars Rover Gets Balanced
The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet.
--------------
NASA Wins Two Emmy Awards for Interactive Mission Coverage
NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.
--------------
AI Is Helping Scientists Discover Fresh Craters on Mars
It's the first time machine learning has been used to find previously unknown craters on the Red Planet.
--------------
Naming a NASA Mars Rover Can Change Your Life
Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.
--------------
Alabama High School Student Names NASA's Mars Helicopter
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
--------------
Three New Views of Mars' Moon Phobos
Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow.
--------------
My Culture, My Voice
In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.
--------------

In [6]:
mars_url = 'https://spaceimages-mars.com/'
browser.visit(mars_url)

In [7]:
images_urls = []
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

margin = soup.find('div', class_='container mt-5')
div_one = margin.find('div', class_="div1")
thmb = div_one.find('div', class_="thmbgroup")
a = thmb.find_all('a')
for x in a:
    image_url = x['href']
    images_urls.append(image_url)
    
featured_image_urls= ['https://spaceimages-mars.com/' + direct for direct in images_urls]    
featured_image_urls

['https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes 7.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes 7.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes 7.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles4.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Sirenum Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles4.jpg',
 'https://spaceimages-mars.com/image/mars/South Polar Cap.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles3.jpg',
 'https://spaceimages-mars.com/image/mars/Atlantis Chaos.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes.jpg',
 'https://spaceimages-mars.com/image/mars/Reull Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles3.jpg',
 'https://spaceimages-mars.com/image/mars/Sirenum Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/South Polar Cap.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles4.jpg',
 'https://spaceimages-mars.com/image/mars/South Polar Cap.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg']

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

header = soup.find('div', class_='header')
image =  header.find('img', class_='headerimage fade-in')
featured_image_url = f'https://spaceimages-mars.com/{image["src"]}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [9]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [10]:
tables = pd.read_html(mars_facts_url)
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
mars_table_df = tables[0]
mars_table_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
mars_df  = mars_table_df.rename(columns = {0:'Description',1:'Mars',2:'Earth'})
mars_df = mars_df.set_index('Description')
mars_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [13]:
mars_html_table = mars_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
mars_hemispheres_url = 'https://marshemispheres.com/'
browser.visit(mars_hemispheres_url)

In [15]:
titles_list = []
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

container = soup.find('div', class_='container')
collapsible_results =  container.find('div', class_='collapsible results')
items  = collapsible_results.find_all('div',  class_='item' )
items_count = len(items)
for item in items:
    topic = item.find('div',class_='description')
    main_mh_titles = topic.find('h3').text
    titles_list.append(main_mh_titles)
titles_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [16]:
links_list = []
for t in titles_list:
    browser.visit(mars_hemispheres_url)
    browser.links.find_by_partial_text(t).click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    wrapper = soup.find('div', class_= 'wrapper')
    w_image = wrapper.find('div', class_= 'wide-image-wrapper')
    li = wrapper.find('li')
    a = li.find_all('a')
    for x in a:
        link = x['href']
        links_list.append(link)
list_of_urls = ['https://marshemispheres.com/' + key_url for key_url in links_list]  
list_of_urls

['https://marshemispheres.com/images/full.jpg',
 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg']

In [17]:
hemisphere_image_urls = []
number = 0
dict_len = len(list_of_urls)
while number < dict_len:
    images_dict = {'title':titles_list[number],'img_url':list_of_urls[number]}
    hemisphere_image_urls.append(images_dict)
    number = number + 1
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [18]:
browser.quit()