In [13]:
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\raulm\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [ ]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [ ]:
news_title = []
news_p = []

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news = soup.find('section', class_='image_and_description_container')
titles = news.find_all('div', class_='content_title')
descriptions = news.find_all('div', class_='article_teaser_body')

for title in titles:
    main_title = title.text
    news_title.append(main_title)
    
for description in descriptions:
    main_description = description.text
    news_p.append(main_description)

In [ ]:
n = len(news_p)
c = 0

while c < n:
    print(news_title[c])
    print(news_p[c])
    print('--------------')
    c = c + 1

In [3]:
mars_url = 'https://spaceimages-mars.com/'
browser.visit(mars_url)

In [4]:
images_urls = []
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

margin = soup.find('div', class_='container mt-5')
div_one = margin.find('div', class_="div1")
thmb = div_one.find('div', class_="thmbgroup")
a = thmb.find_all('a')
for x in a:
    image_url = x['href']
    images_urls.append(image_url)
    
featured_image_urls= ['https://spaceimages-mars.com/' + direct for direct in images_urls]    
featured_image_urls

['https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes 7.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes 7.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes 7.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles4.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Sirenum Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles4.jpg',
 'https://spaceimages-mars.com/image/mars/South Polar Cap.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles3.jpg',
 'https://spaceimages-mars.com/image/mars/Atlantis Chaos.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Proctor Crater Dunes.jpg',
 'https://spaceimages-mars.com/image/mars/Reull Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles3.jpg',
 'https://spaceimages-mars.com/image/mars/Sirenum Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/South Polar Cap.jpg',
 'https://spaceimages-mars.com/image/mars/Niger Vallis.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg',
 'https://spaceimages-mars.com/image/mars/Icaria Fossae.jpg',
 'https://spaceimages-mars.com/image/mars/Ariadnes Colles4.jpg',
 'https://spaceimages-mars.com/image/mars/South Polar Cap.jpg',
 'https://spaceimages-mars.com/image/mars/Daedalia Planum.jpg']

In [9]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

header = soup.find('div', class_='header')
image =  header.find('img', class_='headerimage fade-in')
featured_image_url = f'https://spaceimages-mars.com/{image["src"]}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [11]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [15]:
tables = pd.read_html(mars_facts_url)
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
mars_table_df = tables[0]
mars_table_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [19]:
mars_df  = mars_table_df.rename(columns = {0:'Description',1:'Mars',2:'Earth'})
mars_df = mars_df.set_index('Description')
mars_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [20]:
mars_html_table = mars_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
browser.quit()